.side-bar
  .side-header
    .side-header__box
      %p.side-header__box__name namedddddddddd
      %ul.side-header__box__menu
        %li.side-header__box__meny__new-group
          = link_to "#" do
            %i.fas.fa-pen-square
        %li.ide-header__box__meny__edit-user
          = link_to "#" do
            %i.fas.fa-cog

  .group
    %p.group__name "sampul"
    %p.group__message メッセージはありません