@import "./reset";
@import "font-awesome-sprockets";
@import "./font-awesome";
@import "modules/user";
@import "config/colors";
@import "modules/flash";
@import "modules/group";

*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: white;
}
.side-bar{
  background-color: #2f3e51;
  width: 300px;
  color: white;
  float: left;
}
.side-header{
  height: 100px;
  background-color: #253141;
  display: flex;
  align-items: center;
  padding: 0 20px;
    
  &__box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    &__name{
      font-size: 16px;
    }
    &__menu{
      display: flex;
      
      li{
        padding-left: 5px;
      }
    }
  }
}

.groups{
  padding: 20px;
  height: calc(100vh - 100px);
  
  &__group__name{
    font-size: 15px;
  }
  &__group__message{
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 40px;
  }
}
.chat-main{
  width: calc(100vw - 300px);
  float: left;
}
.chat-header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  overflow: scroll;

  &__group{
    margin-top: 35px;

    &__name {
      font-size: 20px;
      color: #333;
      margin-bottom: 15px;
    }
    &__menber{
      display: flex;
      font-size: 12px;
      color: #999999;
    }
  }
  .edit-btn{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    border: solid 1px #38aef0;
    color: #38aef0;
  }
}

.messages{
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;

  .message-info{
    display: flex;
    margin-bottom: 10px;

    &__talker{
      color: #434a54;
      font-size: 16px;
      font-weight: bold;
      margin-right: 10px;
    }
    &__date{
      color: #999999;
      font-size: 12px;
    }
  }
  .message-text{
    color: #434a54;
    font-size: 14px;
  }
}

.form{
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;

  .new-message{
    display: flex;

    .input-box{
      position: relative;
      width: 100%;

      #message_content{
        height: 50px;
        width: 100%;
        color: #434a54;
        border-style: none;
        padding: 0 10px;
      }
      .input-box__image{
        font-size: 1.3rem;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
      .input-box__image__file{
        display: none;
      }
    }
    .submit-btn{
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
}